# Data — filings are large / redistribution-sensitive, not committed
data/raw/*.pdf
data/*.pdf
*.faiss
*.index
index/*.npy
index/*.pkl

__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.lycheecache
dist/
build/
*.egg-info/
.ipynb_checkpoints/
.env
